.options-container{
    width: 500px;
    height: 50px;
    margin: 30px 0;
    background-color: yellow;
    display: flex;
    align-items: center;
}

.destroyer{
    background-color: brown;
}

.submarine{
    background-color: green;
}

.cruiser{
    background-color: purple;
}

.battleship{
    background-color: orange;
}

.carrier{
    background-color: blue;
}

.ship1{
    width: 20px;
    height: 10px;
    margin: 3px;
}

.ship2{
    width: 30px;
    height: 10px;
    margin: 3px;
}

.ship3{
    width:30px;
    height: 10px;
    margin: 3px;
}

.ship4{
    width: 40px;
    height: 10px;
    margin: 3px;
}

.ship5{
    width: 50px;
    height: 10px;
    margin: 3px;
}